<% include ../partials/boilerplate.ejs %>
<title>Todo app!!!!!</title>
 <link rel='stylesheet' type='text/css' href='/Style/style.css'>
<link rel="stylesheet" type="text/css" href="css/reset.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Open+Sans:300i,400" rel="stylesheet">
</head>
<body>

<div id='box'>
<% include ../partials/header.ejs %>
<main>

<div id='welcome'> Welcome to my Todo App! </div>
<img id="logoImage" src="/public/assets/todolist 2.png">

 <div class='todo'>
<div id='title'><%=data.title%></div>
<div id='status'><%=data.status%></div>
<div id='category'><%=data.category%></div>
</div>

   </main>

<div class = 'todo'>
<a href="/todos/add">Add New Todo</a>
<% for (let todos of data) { %>

<div id='together'>  <div id='title'><%= todos.title %><div>
  <div id='status'><%= todos.status %><div></div>
  <div id='category'><%= todos.category %><div>
  <a href = '/todos/<%= todos.id%>'>Info</a>

 <form  action="/todos/<%= todos.id %>?_method=Delete " method="Post">
  <input id='delete' type="Submit" value="Delete"/>
  </form>
<% } %>
</div>

<% include ../partials/footer.ejs %>


</body>
</html>
